.bgcontainer {
	display: none;	
}

@media only screen and (min-width: 960px) {
 .bgcontainer {
		display: block;
		position: absolute;
		height: 100vh;

	
		img {
			margin-bottom: -0.5em;
			width: 100vw;
			height: 100%;
		}
	}
}