@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.upcoming {
  padding: 1em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  font-family: "Bebas neue";
  .desktop {
    display: none;
  }
  .heading {
    a {
      display: flex;
      justify-content: flex-end;
      padding-top: 0.2em;
      color: hsl(354, 73%, 43%);
    }
    h1 {
      font-size: 10vw;
      margin: 0;
    }
    .headingArrow {
      margin-top: 1.3vw;
      margin-left: -1vw;
      width: 8vw;
      height: auto;
      color: hsl(354, 73%, 43%);
    }
  }
  .item {
    position: relative;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    .title {
      margin: 0;
      position: absolute;
      bottom: 0.5em;
      left: 1.2em;
      right: 1.2em;
      font-size: 6.5vw;
      color: #fafafa;
    }
  }

  .one {
    padding-left: 0;
    padding-right: 0;
    .title {
      left: 1em;
      bottom: 0.5em;
      right: 1em;
      text-align: center;
      font-size: 13vw;
    }
  }

  .three {
    margin-left: 1em;
    margin-right: 1em;
    position: static;
    background: hsl(29, 96%, 46%);
    display: grid;
    grid-template-columns: auto 30%;

    .title {
      position: static;
      padding-top: 13%;
      padding-left: 0.85em;
      padding-right: 0.5em;
    }
  }
}

@media only screen and (min-width: 960px) {
  .upcoming {
    .mobile {
      display: none;
    }
    .desktop {
      display: grid;
      grid-template-columns: 70% 30%;

      .right {
        display: grid;
        grid-template-rows: 60% 40%;
      }
    }

    .item {
      position: relative;
      margin-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;

      .title {
        margin: 0;
        position: absolute;
        bottom: 0.4em;
        left: 0.8em;
        right: 0.8em;
        font-size: 4vw;
        color: hsl(0, 0%, 98%);
      }
    }
    .one {
      padding-left: 1em;
      padding-right: 0;
      .title {
        left: 1em;
        bottom: 0.5em;
        right: 1em;
        text-align: center;
        font-size: 6vw;
      }
    }
    .three {
      margin-left: 1em;
      margin-right: 1em;
      position: static;
      background: hsl(29, 96%, 46%);
      display: grid;
      grid-template-columns: auto 30%;

      .title {
        margin: auto;
        position: static;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        font-size: 3vw;
      }

      img {
        margin: auto;
        margin-left: -2em;
      }
    }
  }
}
